:root {
    --clr-primary-bg: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    --clr-primary-bg-dk: rgb(39 122 141);
    --clr-primary-bg-lt: #04e9ec;

    --clr-header: #ffffff;
    --clr-menu-bg: rgb(0 0 0 / 33%);
    --clr-btn: rgb(39 122 141);
    --clr-prompt-btn: rgb(39 122 141);

    --clr-widget: rgb(59 181 209);
    --clr-widget-dk: rgb(47, 149, 172);
}