:root {
    --clr-primary-bg:  rgb(63, 63, 63);
    --clr-primary-bg-dk:  rgb(46, 46, 46);
    --clr-primary-bg-lt: rgb(95, 95, 95);

    --clr-header: #d9d9d1;
    --clr-menu-bg: rgb(79 79 79);
    --clr-btn: rgb(63, 63, 63);
    --clr-prompt-btn: rgb(78, 129, 165);

    --clr-widget: #b1b0b0;
    --clr-widget-dk: rgb(125 120 120);
}